<!DOCTYPE html>
<html lang="en"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>H_Ecommerce Store</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
		<link rel="stylesheet" th:href="@{/css/slick.css}">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
 		<link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
	<body>
		<header
				th:replace ="~{fragment/navbar_home.html :: navbar_home} ">
		</header>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row d-flex">
					<form th:object="${detail_Product}">
						<!-- Product main img -->
						<div class="col-md-5" style="width: 40%">
							<div id="product-main-img">
								<div class="product-preview">
									<img th:src="*{image_url}" th:alt="${detail_Product.getProduct_name()}">
								</div>
							</div>
						</div>
						<!-- /Product main img -->

						<!-- Product details -->
						<div class="col-md-5 " style="width: 40%; margin-left: 20%">
							<div class="product-details" style="margin-top: 50px" >
								<h2 class="product-name" th:text="${detail_Product.product_name}"></h2>
								<div>
									<div class="product-rating">
										<i class="fa" th:each="i : ${#numbers.sequence(1, 5)}"
										   th:classappend="${i <= detail_Product.rate ? 'fa-star' : 'fa-star-o'}">
										</i>
									</div>
									<span th:text="${detail_Product.counting}"></span> Review(s)
								</div>
								<div>
									<h3 class="product-price" th:text="${detail_Product.formattedNewPrice}"></h3>
									<del class="product-old-price" th:text="${detail_Product.formattedOldPrice}"></del>
									<span class="product-available" th:text="'Số lượng ' +${detail_Product.quantity}"></span>
								</div>

								<div class="add-to-cart">
									<div class="qty-label">
										QTY
										<div class="input-number">
											<input id="quantity_input" type="number"
												   th:value="1"
												   th:min="0"
												   th:max="${selected != null ? detail_Product.quantity - selected : detail_Product.quantity}">
											<span class="qty-up">+</span>
											<span class="qty-down">-</span>
										</div>
									</div>
									<button class="add-to-cart-btn" type="button" sec:authorize="isAuthenticated()"
											th:data-product-id="${detail_Product.productID}"
											th:data-quantity="${detail_Product.quantity}"
											th:data-selected="${selected ?: 0}"
											th:data-role="${#authentication.principal.authorities}"
											onclick="checkQuantityBeforeAdd(this)">
										<i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
									</button>
									<button class="add-to-cart-btn" sec:authorize="isAnonymous()"
											onclick="window.location.href='/login'; return false">
										<i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng
									</button>
								</div>

								<ul class="product-links">
									<li>Loại sản phẩm:</li>
									<li><a href="#" th:text="${detail_Product.product_type}"></a></li>
								</ul>
							</div>
						</div>
						<!-- /Product details -->
					</form>
					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="tab active"> <a href="#tab1" onclick="loadTabContent('description')">Chi tiết sản phẩm</a></li>
								<li class="tab"> <a href="#tab2" onclick="loadTabContent('rating')" th:text="'Đánh giá ('+${detail_Product.counting} +')'"></a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane in active" th:fragment="tab1(description)">
									<div class="row">
										<div class="col-md-12">
											<p th:utext="${description}"></p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->

								<div id="tab2" class="tab-pane in" th:fragment="tab2(avg_rating,ratings,num,comment)">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3" style="width: 30%">
											<div id="rating">
												<div class="rating-avg">
													<span th:text="${avg_rating}"></span>
													<div class="rating-stars">
														<i class="fa" th:each="i : ${#numbers.sequence(1, 5)}"
														   th:classappend="${i <= avg_rating ? 'fa-star' : 'fa-star-o'}">
														</i>
													</div>
												</div>

												<ul class="rating" th:each="rating, index : ${ratings}">
													<li>
														<div class="rating-stars">
															<i class="fa" th:each="star : ${#numbers.sequence(1, 5)}"
															   th:classappend="${star <= (index.index+1)  ? 'fa-star' : 'fa-star-o'}">
															</i>
														</div>
														<div class="rating-progress">
															<div th:style="'width: ' + (${num} != 0 ? (${rating} * 100 / ${num}) : 0) + '%'"></div>
														</div>
														<span class="sum" th:text="${num} != 0 ? (${rating} * 100 / ${num}) + '%' : '0%'"></span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6" style="width: 70%">
											<div id="reviews">
												<ul class="reviews" th:each="c : ${comments}">
													<li>
														<div class="review-heading">
															<h5 class="name" th:text="${c.name}"></h5>
															<p class="date" th:text="${c.formattedDateTime}"></p>
															<div class="review-rating">
																<i class="fa" th:each="i : ${#numbers.sequence(1, 5)}"
																   th:classappend="${i <= c.rate ? 'fa-star' : 'fa-star-o'}">
																</i>
															</div>
														</div>
														<div class="review-body">
															<p th:text="${c.comment}"></p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3" style="clear: both;width: 50%;justify-content: center">
											<div id="review-form" >
												<!--/*@thymesVar id="postComment" type="com.h_ecommerce_store.DTO.request.postComment"*/-->
												<form th:if="${postComment != null && #authorization.expression('isAuthenticated()')}" class="review-form" th:action="@{/user/postComment}"
													  th:object="${postComment}" method="POST" id="commentForm">
													<input type="hidden" th:field="*{productID}"/>
													<textarea id="inputComment" class="input" th:field="*{comment}" placeholder="Your Review"></textarea>
													<label for="inputComment"></label>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div th:if="${#fields.hasErrors('comment')}" style="color: red" class="error">
															<small th:errors="*{comment}"></small>
														</div>
														<div class="stars">
															<input id="star5" th:field="*{rate}" value="5" type="radio" name="rate">
															<label for="star5"></label>
															<input id="star4" th:field="*{rate}" value="4" type="radio" name="rate">
															<label for="star4"></label>
															<input id="star3" th:field="*{rate}" value="3" type="radio" name="rate">
															<label for="star3"></label>
															<input id="star2" th:field="*{rate}" value="2" type="radio" name="rate">
															<label for="star2"></label>
															<input id="star1" th:field="*{rate}" value="1" type="radio" name="rate">
															<label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn" type="button" onclick="allowComment(this)"
															th:data-allow-comment="${postComment.allowCommentTime}"
															th:data-role="${#authentication.principal.authorities}">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab2  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Sảm phẩm tương tự</h3>
						</div>
					</div>

					<!-- product -->
					<div class="col-md-3 col-xs-6" th:each="relatedProduct : ${relatedProducts}">
						<a th:href="@{'/web/detail_product/' + ${relatedProduct.productID}}" style="text-decoration: none; color: inherit;">
							<div class="product">
								<div class="product-img">
									<img th:src="${relatedProduct.image_url}" th:alt="${relatedProduct.product_name}">
									<div class="product-label">
										<span class="sale" th:text="'-'+${relatedProduct.discount}+'%'"></span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category" th:text="${relatedProduct.product_type}"></p>
									<h3 class="product-name" th:text="${relatedProduct.product_name}"></h3>
									<h4 class="product-price" th:text="${relatedProduct.formattedNewPrice}+'đ'">
										<del class="product-old-price" th:text="${relatedProduct.formattedOldPrice}+'đ'"></del>
									</h4>
									<div class="product-rating">
										<i class="fa" th:each="i : ${#numbers.sequence(1, 5)}"
										   th:classappend="${i <= relatedProduct.getRate() ? 'fa-star' : 'fa-star-o'}">
										</i>
									</div>
									<div class="product-btns">
										<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
									</div>
								</div>
							</div>
						</a>
					</div>
					<!-- /product -->
					<div class="clearfix visible-sm visible-xs"></div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.20/jquery.zoom.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
		<script th:src="@{/js/LoadTab.js}"></script>
		<script th:src="@{/js/main.js}"></script>
		<script th:src="@{/js/cart_DetailProduct.js}"></script>
	</body>
</html>
