<!DOCTYPE html>
<html lang="en"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>H_Ecommerce Store</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
		<link rel="stylesheet" th:href="@{/css/slick.css}">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
	<body>
		<header
				th:replace ="~{fragment/navbar_home.html :: navbar_home} ">
		</header>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Loại sản phẩm</h3>
							<div class="productType-checkbox" th:each="type, index : ${allType}">
								<input type="checkbox"
									   th:id="'productType-' + ${index.index}"
									   th:value="${type.product_type}"
									   name="selectedProductTypes"
									   th:checked="${selectedProductTypes != null and selectedProductTypes.contains(type.product_type)}">
								<label th:for="'productType-' + ${index.index}">
									<span th:text="${type.product_type}"></span>
									<small th:text="'('+${type.count} + ')'"></small>
								</label>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Thương hiệu</h3>
							<!--/*@thymesVar id="allBrands" type="com.h_ecommerce_store.DTO.response.brand_asideWidget"*/-->
							<div class="brand-checkbox" th:each="brand, index : ${allBrand}">
								<input type="checkbox"
									   th:id="'brand-' + ${index.index}"
									   th:value="${brand.brand}"
									   name="selectedBrands"
									   th:checked="${selectedBrands != null and selectedBrands.contains(brand.brand)}">
								<label th:for="'brand-' + ${index.index}">
									<span th:text="${brand.brand}"></span>
									<small th:text="'('+${brand.count} + ')'"></small>
								</label>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Sản phẩm bán chạy</h3>
							<!--/*@thymesVar id="topSellerProduct" type="com.h_ecommerce_store.DTO.response.topSeller_asideWidget"*/-->
							<div class="product-widget" th:each="topProduct :${topSellerProduct}">
								<div class="product-img">
									<img th:src="${topProduct.image_url}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category" th:text="${topProduct.type}"></p>
									<h4 class="product-name"><a th:href="@{'/web/detail_product/' + ${topProduct.ID}}" th:text="${topProduct.name}"></a></h4>
									<h4 class="product-price" th:text="${topProduct.formattedNewCost}+'đ'"></h4>
									<del class="product-old-price" th:text="${topProduct.formattedOldCost}+'đ'"></del>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store products -->
						<div class="row">
							<div th:if="${listProducts != null}">
								<!-- product -->
								<div class="col-md-4 col-xs-6" th:each="product : ${listProducts}">
									<a th:href="@{'/web/detail_product/' + ${product.getProductID()}}" style="text-decoration: none; color: inherit;">
										<div class="product">
											<div class="product-img">
												<img th:src="${product.getImage_url()}" th:alt="${product.getProduct_name()}">
												<div class="product-label">
													<span class="sale" th:text="'-' + ${product.getDiscount()} + '%'"></span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category" th:text="${product.getProduct_type()}"></p>
												<h4 class="product-name" th:text="${product.getProduct_name()}"></h4>
												<h4 class="product-price" th:text="${product.formattedNewPrice} + 'đ'"></h4>
												<del class="product-old-price" th:text="${product.formattedOldPrice} +'đ'"></del>
												<div class="product-rating">
													<i class="fa" th:each="i : ${#numbers.sequence(1, 5)}"
													   th:classappend="${i <= product.getRate() ? 'fa-star' : 'fa-star-o'}">
													</i>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<!-- /product -->
							<div class="clearfix visible-sm visible-xs"></div>
						</div>
						<!-- /store products -->
						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<ul class="store-pagination">
								<!-- Previous Page -->
								<a th:href="@{${requestURI}(page=${currentPage - 1})}"
								   th:if="${currentPage > 1}">&laquo; Previous</a>

								<span th:each="i : ${#numbers.sequence(1, totalPages)}">
									<li>
										<a th:href="@{${requestURI}(page=${i})}"
										   th:text="${i}"
										   th:classappend="${i == currentPage} ? 'active' : ''"></a>
									</li>
								</span>

								<!-- Next Page -->
								<a th:href="@{${requestURI}(page=${currentPage + 1})}"
								   th:if="${currentPage < totalPages}">Next &raquo;</a>
							</ul>
						</div>

						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.20/jquery.zoom.min.js"></script>
		<script th:src="@{/js/main.js}"></script>
		<script th:src="@{/js/home_searchProduct.js}"></script>
	</body>
</html>
