<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <title>Trang đăng kí</title>
</head>
<body>
    <header
            th:replace ="~{fragment/navbar.html :: navbar} ">
    </header>
    <div class="form-container">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://i.imgur.com/uNGdWHi.png"
                         class="img-fluid" alt="image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h1 style="text-align:center">Đổi mật khẩu</h1>
                    <form th:action="${role == 'ROLE_USER' ? '/user/changePassword' : '/staff/changePassword'}"
                          th:object="${changePassword}" method="POST">
                        <input type="hidden" th:field="*{username}">
                        <div th:if="${#fields.hasErrors('oldPassword')}" style="color: red" class="error">
                            <small th:errors="*{oldPassword}"></small>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="oldPassword"  th:field="*{oldPassword}" class="form-control" required/>
                            <label class="form-label" for="oldPassword"> Nhập mật khẩu cũ</label>
                        </div>

                        <div th:if="${#fields.hasErrors('newPassword')}" style="color: red" class="error">
                            <small th:errors="*{newPassword}"></small>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="newPassword"  th:field="*{newPassword}" class="form-control" required>
                            <label class="form-label" for="newPassword" >Mật khẩu mới</label>
                        </div>

                        <div th:if="${#fields.hasErrors('confirmPassword')}" style="color: red" class="error">
                            <small th:errors="*{confirmPassword}"></small>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="confirmPassword"  th:field="*{confirmPassword}" class="form-control" required />
                            <label class="form-label" for="confirmPassword" >Nhập lại mật khẩu</label>
                        </div>
                        <div class="d-flex justify-content-between" style="gap: 60px">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" style="width: 50%">Cập nhật</button>
                            <a th:href="@{/}" class="btn btn-secondary btn-lg" style="width: 50%">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</body>
</html>