<header th:fragment="navbar">
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right">
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">
                      <i class="fa fa-user-o"></i> Đăng nhập
                    </a>
                </li>
                <li><a th:if="${role} =='ROLE_ADMIN'" th:href="@{/admin/user}">Quản lí người dùng</a></li>
                <li><a th:if="${role} =='ROLE_STAFF'" th:href="@{/staff/bill}">Quản lí hóa đơn</a></li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a th:if="${role} !='ROLE_ADMIN'" href="#" class="dropdown-toggle" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-o"></i> Thông tin cá nhân
                    </a>
                    <ul class="dropdown-menu">
                        <li style="display: block">
                            <a th:if="${role} =='ROLE_USER'" th:href="@{/user/form_changePassword}" style="color: black;">Đổi mật khẩu</a>
                            <a th:if="${role} =='ROLE_STAFF'" th:href="@{/staff/form_changePassword}" style="color: black;">Đổi mật khẩu</a>
                        </li>

                        <li style="display: block">
                            <a th:if="${role} =='ROLE_USER'" th:href="@{/user/formProfile}" style="color: black;"> Hồ sơ của bạn</a>
                            <a th:if="${role} =='ROLE_STAFF'" th:href="@{/staff/formProfile}" style="color: black;"> Hồ sơ của bạn</a>
                        </li>
                    </ul>
                    <form th:action="@{/logout}" method="post" style="display: inline">
                          <button type="submit" style="color: white; background: none; border: none;">
                              Đăng xuất
                              <a class="fa fa-sign-out"></a>
                          </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="header">
        <!-- container -->
        <div class="container">
          <!-- row -->
            <div class="row">
              <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                          <img th:src="@{/img/logo.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
